.promo {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("../img/promo-img.png");
  background-repeat: no-repeat;
  background-size: 37% auto;
  background-position: 85.2% 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-img-2x.png");
  }
}

.promo__wrap {
  position: relative;
  max-width: $container-lg;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 198px 10px 125px;
}

.promo__content {
  width: 54%;
  z-index: 2;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 5.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__text {
  position: relative;
  padding-left: 97px;
  margin-top: 0;
  margin-bottom: 45px;
  font-family: $pt-mono;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 18px;
    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }
}

.promo__btn {
  display: inline-block;
  margin-left: 97px;
  margin-bottom: 130px;
  padding: 17px 46px 17px;
  font-size: 16px;
  line-height: 19px;
}

.promo__btn-sm {
  display: none;
}

.promo__scroll {
  display: inline-block;
  font-family: $pt-mono;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: rgba(#ffffff, 0.5);
  transform: translateX(-35px) rotate(-90deg);
}

@media (max-width: $screen-lg) {
  .promo {
    background-image: url("../img/promo-img-tablet.png");
    background-size: 42.7% auto;
    background-position: 100% -80px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-img-tablet-2x.png");
    }
  }

  .promo__wrap {
    position: relative;
    padding: 107px 88px 165px;
  }

  .promo__content {
    width: 440px;
  }

  .promo__title {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 4.2px;
  }

  .promo__text {
    padding-left: 51px;
    margin-bottom: 54px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
      top: 16px;
    }
  }

  .promo__btn {
    margin-left: 51px;
    margin-bottom: 0;
    padding: 17px 31px;
  }

  .promo__scroll {
    display: none;
  }
}

@media (max-width: $screen-md) {
  .promo {
    background-image: url("../img/promo-img-mobile.png");
    background-size: 300px auto;
    background-position: 100% -71px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-img-mobile-2x.png");
    }
  }

  .promo__wrap {
    padding: 217px 15px 49px;
  }

  .promo__content {
    width: 100%;
  }

  .promo__title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 2.8px;
  }

  .promo__text {
    margin-bottom: 39px;
    font-size: 16px;
    line-height: 26px;
  }

  .promo__btn {
    display: block;
    padding: 17px;
    margin-left: 0;
    text-align: center;
  }

  .promo__btn-md {
    display: none;
  }

  .promo__btn-sm {
    display: inline;
  }
}
