$white-two: #f2f2f2;
$black-two: #222222;
$pinkish-grey: #cdcdcd;
$brownish-grey: #666666;
$black-three: #111111;
$leaf: #68b738;
$peachy-pink: #ff8282;
$greyish-brown: #444444;
$grass: #5eaa2f;
$white-30: rgba(255, 255, 255, 0.3);
$white: #ffffff;
$black-three-30: rgba(17, 17, 17, 0.3);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$white-three: #ebebeb;
$black-two-30: rgba(34, 34, 34, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
$black: #000000;
$seafoam-blue: #63d1bb;
$seafoam-blue-two: #46c1ae;
$seafoam-blue-three: #62d1ba;
$greeny-blue: #56c3b2;
$very-dark-brown: #010000;
$blue-green: #149080;
$white-four: #ececec;
$white-five: #e5e5e5;
$white-six: #f1f1f1;
$gray: #f9f9f9;
$seafoam-blue-two: #59d5bc;
$greeny-blue-two: #46c1ae;

// screen size
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1150px;

$retina-dppx: 1.5dppx;
