// screen size
$screen-sm: 320px;
$screen-md: 767px;
$screen-lg: 1023px;

// $container-sm: ;
// $container-md: ;
$container-lg: 1440px;


$retina-dppx: 1.5dppx;

// font-family
$pt-mono: "PT Mono", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;
